<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Angular Material - Starter App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="assets/app.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

  </head>

  <body ng-app="starterApp" layout="row" ng-controller="onboardController as vm" ng-cloak >

    <!-- ONBOARDING-->
    <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2" ng-if="vm.onboarding">

      <md-toolbar layout="row" class="md-whiteframe-z1">
        <md-button class="menu" hide-gt-sm aria-label="Show User List">
          <md-icon md-svg-icon="menu" ></md-icon>
        </md-button>
        <h3>Roomie Search</h3>
      </md-toolbar>

      <md-content flex>

        <step-one-directive ng-if="step == 'log_in'"></step-one-directive>

        <step-two-directive ng-if="step == 'pick_school'"></step-two-directive>

        <step-three-directive ng-if="step == 'get_phone'"></step-three-directive>

        <questions-directive ng-if="isQuestion()"></questions-directive>

        <splash-directive ng-if="step == 'finish'"></splash-directive>

        <pre>{{'Step: ' + step}}</pre>

      </md-content>

    </div>


    <!-- MATCHES -->
    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
                ng-if="!vm.onboarding"
                md-component-id="left"
                ng-click="vm.toggleList()" aria-label="Show User List"
                md-is-locked-open="$mdMedia('gt-sm')">

      <md-toolbar class="md-whiteframe-z1">
        <h3>Users</h3>
      </md-toolbar>

      <md-list>
        <md-list-item ng-repeat="it in vm.users">
          <md-button ng-click="vm.selectUser(it)" ng-class="{'selected' : it === vm.selected }">
            <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>
            {{it.name}}
          </md-button>
        </md-list-item>
      </md-list>

    </md-sidenav>


    <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2" ng-if="!vm.onboarding">

      <md-toolbar layout="row" class="md-whiteframe-z1">
        <md-button id="main" class="menu" hide-gt-sm ng-click="vm.toggleList()" aria-label="Show User List">
          <md-icon md-svg-icon="menu" ></md-icon>
        </md-button>
        <h3>Room - 8</h3>
      </md-toolbar>

      <md-content flex id="content" class="match-detail">
        <md-icon md-svg-icon="{{vm.selected.avatar}}" class="avatar"></md-icon>
        <h2>{{vm.selected.name}}</h2>

        <md-chips>
          <md-chip>Male</md-chip>
          <md-chip>Has a place</md-chip>
          <md-chip>On-Campus</md-chip>
          <md-chip>Needs 2 Roommates</md-chip>
        </md-chips>

        <p>{{vm.selected.content}}</p>

        <md-list>
          <md-subheader class="md-no-sticky">Roommate Traits</md-subheader>

          <md-list-item>
            <i class="material-icons">alarm</i>
            <p class="user-match-attribute-text">Night Owl</p>
          </md-list-item>

          <md-list-item>
            <i class="material-icons">accessibility</i>
            <p class="user-match-attribute-text">Party Animal</p>
          </md-list-item>

          <md-list-item>
            <i class="material-icons">bug_report</i>
            <p class="user-match-attribute-text">Clean Freak</p>
          </md-list-item>
        </md-list>

        <md-button class="contact favorite" md-no-ink ng-click="vm.addFavorite(vm.selected)" aria-label="Share with {{ vm.selected.name }}">
          <md-tooltip>Favorite {{ vm.selected.name }}</md-tooltip>
          <i class="material-icons">{{vm.favorite == vm.selected.name ? 'favorite' : 'favorite_border'}}</i>
        </md-button>

      </md-content>

    </div>

    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>

    <script src="./src/users/Users.js"></script>
    <script src="./src/users/UserController.js"></script>
    <script src="./src/users/QuestionsService.js"></script>
    <script src="./src/users/OnboardController.js"></script>
    <script src="./src/users/UserService.js"></script>
    <script src="./src/users/WorkflowService.js"></script>
    <script src="src/users/StepOneDirective.js"></script>
    <script src="src/users/StepTwoDirective.js"></script>
    <script src="src/users/StepThreeDirective.js"></script>
    <script src="src/users/QuestionsDirective.js"></script>
    <script src="src/users/SplashDirective.js"></script>
    <script src="./state-machine.min.js"></script>

    <script type="text/javascript">

          angular
              .module('starterApp', ['ngMaterial', 'users'])
              .value('$fsm', StateMachine)
              .config(function($mdThemingProvider, $mdIconProvider){

                  $mdIconProvider
                      .defaultIconSet("./assets/svg/avatars.svg", 128)
                      .icon("menu"       , "./assets/svg/menu.svg"        , 24)
                      .icon("share"      , "./assets/svg/share.svg"       , 24)
                      .icon("google_plus", "./assets/svg/google_plus.svg" , 512)
                      .icon("hangouts"   , "./assets/svg/hangouts.svg"    , 512)
                      .icon("twitter"    , "./assets/svg/twitter.svg"     , 512)
                      .icon("phone"      , "./assets/svg/phone.svg"       , 512);

                      $mdThemingProvider.theme('default')
                          .primaryPalette('brown')
                          .accentPalette('red');

              });

    </script>

  </body>
</html>
